<div class='container'>
  <h1 class='title'>New redirect rule</h1>
  <div class='row'>
    <%= link_to 'Back', request.referer || redirector_ui.redirect_rules_path, class: 'btn btn-link' %>
  </div>

  <%= render partial: 'form' %>
</div>
